In [9]:
import pandas as pd
pd.core.common.is_list_like = pd.api.types.is_list_like
# There is some issue with pandas datareader and what is going on here....

from pandas_datareader import data # This will import the data reader

In [10]:
https://fred.stlouisfed.org/series/EQFXSUBPRIME001001

SyntaxError: invalid syntax (<ipython-input-10-eaea721708af>, line 1)

In [17]:
series = "EQFXSUBPRIME0"
fips_code = "01001"

codes = [series + fips_code] 
# nomial gdp, imports, imports from china, constant maturity 1 year rate, cip (no energy or food)

fred = data.DataReader(codes,"fred",2000)  # Then for fred, you hand it the codes
                                            # Tell it you want to ask from FRED
                                            # then tell it the start date

In [13]:
fred.head()

            EQFXSUBPRIME001001
DATE
2000-01-01           40.638170
2000-04-01           40.606421
2000-07-01           39.904988
2000-10-01           38.613861
2001-01-01           39.413490

This is grabbing the share of those with subprime credit in a county. To grab all counties, we just need to work through the FIPS codes...